.DS_Store
desktop.ini
Thumbs.db
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.svn/
.TemporaryItems/
.Trash/
.Trashes/
node_modules/
npm-debug.log
shell/create-*.db
shell/csv-*.csv
shell/dump-*.sql
shell/integrity*.db
